if TARGET_AT91SAM9G20ISIS

config SYS_BOARD
	default "at91sam9g20isis"

config SYS_VENDOR
	default "cubeos"

config SYS_CONFIG_NAME
	default "at91sam9g20isis"

config SYS_TEXT_BASE
	default 0x00000000

config SYS_LOAD_ADDR
	default 0x22000000

config AT91SAM9G20ISIS

config GENERIC_MMC

endif
